{% extends 'base.html' %}
{% load bootstrap4 %}
{% block titulo %}Editar Evento{% endblock %}
{% block head %}{% endblock %}
{% block titulo_cabecalho %}Editar Evento{% endblock %}
{% block section %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <!-- Approach -->
        <div class="card shadow mb-4 card-body">
            <form action="{% url 'edt_evento' evento.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form evento_form%}
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a class="btn btn-secondary" href="{% url 'listar_evento'%}">Cancelar</a>
            </form>
        </div>

    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}