<p>
    Prezado(a) {{nome}},

    Este e-mail é para confirmar que sua senha do sistema SIGEPM foi redefinida com sucesso. Se você não
    solicitou a recuperação de senha, por favor, entre em contato conosco imediatamente.

    Caso tenha solicitado a recuperação de senha, por favor, use suas novas credenciais de login para acessar o sistema
    SIGEPM.
    Por favor, lembre-se de que é importante manter suas credenciais de login seguras e privadas, evitando
    compartilhá-las com terceiros e utilizando senhas fortes e únicas.

    Caso tenha alguma dúvida ou dificuldade para acessar o sistema SIGEPM, por favor, entre em contato com o suporte.

    Agradecemos pela sua atenção e cooperação.

    Atenciosamente,
    Equipe de suporte do SIGEPM.
</p>