<p>Prezado(a) {{interessado.perfil.user.first_name}},</p>
<p>Número do processo:{{audiencia.numero_do_processo}}.</p>

<p>Entramos em contato para informar que uma audiência judicial foi agendada, e gostaríamos de informar que Vossa Senhoria {{interessado.perfil.user.get_full_name}} foi convocada para comparecer.</p>

<p>A audiência será realizada no dia {{audiencia.data_do_processo}}.</p>
<p>Local da audiência: {{audiencia.local}}.</p>

<p>Para mais informações acesse o link abaixo:</p>
<a href="">{{link_da_audiencia}}</a>

<p>Favor comparecer na unidade para fins de retirada do ofício de apresentação ou segue em anexo o ofício de apresentação.</p>
<p>

Cumpra-se,
Pedro Paulo

Equipe de suporte do SIGEPM.
</p>