<p>Prezado(a) {{interessado.perfil.user.first_name}},</p>

<p>Gostaríamos de informar que a audiência judicial agendada anteriormente foi cancelada, e Vossa Senhoria {{interessado.perfil.user.get_full_name}} não precisa mais comparecer.</p>

<p>O número do processo era: {{audiencia.numero_do_processo}}.</p>

<p>Agradecemos por sua compreensão e qualquer dúvida, entre em contato com algum responsável.</p>
<p>Para mais informações acesse o link abaixo:</p>
<a href="">{{link_da_audiencia}}</a>
<p>

Cumpra-se,
Pedro Paulo

Equipe de suporte do SIGEPM.
</p>