<p>Prezado(a) {{interessado.perfil.user.first_name}},</p>
<p>Número do processo:{{evento.numero_do_processo}}.</p>

<p>Entramos em contato para informar que um evento foi agendado, e gostaríamos de informar que Vossa Senhoria {{interessado.perfil.user.get_full_name}} foi convocada para comparecer.</p>

<p>Nome do evento: {{evento.nome}}</p>
<p>O evento será realizado no dia {{evento.data_do_evento}}.</p>
<p>Local do evento: {{evento.local}}.</p>

<p>Para mais informações acesse o link abaixo:</p>
<a href="">http://127.0.0.1:8000/ver/Evento/{{evento.id}}</a>

<p>Favor comparecer na unidade para fins de retirada do ofício de apresentação ou segue em anexo o ofício de apresentação.</p>
<p>

Cumpra-se,
Pedro Paulo

Equipe de suporte do SIGEPM.
</p>