<p>Prezado(a) {{interessado.perfil.user.first_name}},</p>

<p>Gostaríamos de informar que a audiência judicial agendada anteriormente foi realizada com sucesso. Vossa Senhoria, {{interessado.perfil.user.get_full_name}}, compareceu à audiência conforme convocação.</p>

<p>O número do processo é: {{audiencia.numero_do_processo}}.</p>

<p>A audiência ocorreu no dia {{audiencia.data_do_processo}} como programado, no local {{audiencia.local}}.</p>

<p>Agradecemos pela sua presença e cooperação durante a audiência. Caso tenha alguma dúvida ou necessite de mais informações sobre os próximos passos do processo, não hesite em entrar em contato.</p>

<p>Para mais informações acesse o link abaixo:</p>
<a href="">{{link_da_audiencia}}</a>
<p>

Cumpra-se,
Pedro Paulo

Equipe de suporte do SIGEPM.
</p>