<p>
    Prezado(a) {{nome}},

    Recebemos uma solicitação de recuperação de senha para o sistema SIGEPM associado ao seu endereço de e-mail.

    Caso não tenha solicitado essa recuperação, por favor ignore este e-mail e tome as medidas necessárias para garantir
    a
    segurança de sua conta.

    http://127.0.0.1:8000/RedefinirSenha/{{token}}

    Caso tenha qualquer dúvida ou dificuldade para recuperar sua senha, por favor entre em contato com alguém responsável.

    Atenciosamente,
    Equipe de suporte do SIGEPM.
</p>